.form {
  width: 40%;
  margin: auto;
}

@media only screen and (max-width: 850px) {
  .form {
    width: 60%;
  }
}

@media only screen and (max-width: 700px) {
  .form {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .form {
    width: 100%;
    padding: 0.5rem;
  }
}

.link {
  text-decoration: none;
  color: var(--primary-color);
}
